# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
venv/
venv.bak/

# IDE
.idea/

# Tests
.pytest_cache/

# poetry
poetry.lock
pyproject.toml